<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet/css" src="global.css">
</head>
<body>
  <form action="add_save">
    <p>Enter products general info</p>
    <input type="text" name="general_info">
        <p>Enter  products tech specs</p>
    <input type="text" name="technical_specs" >
        <p>Enter  products where to buy</p>
    <input type="text" name="where_to_buy" >  
    
    <input type="submit">
  </form>


  <script src = "global.js">  </script>
</body>
</html>