<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet/css" src="global.css">
</head>
<body>
  <ul>the products are:
    <% Products.all.each do |product| %>
    <li> ID <%= product.id %> – <%= product.general_info %> – <%= product.technical_specs %>  – <%= product.where_to_buy %> </li> 
    <% end %>
  </ul>
  
  <form action="edit_save">
    <p>Enter the product's id you'd like to change.</p>
    <input type="text" name="id">
    <p>Enter new products general info</p>
    <input type="text" name="general_info">
    <p>Enter new products tech specs</p>
    <input type="text" name="technical_specs">
    <p>Enter new products where to buy</p>
    <input type="text" name="where_to_buy">  
    
    <input type="submit">
  </form>

  <script src = "global.js">  </script>
</body>
</html>